.group {
  position: relative;
  input {
    font-size: 16px;
    padding: 10px;
    display: block;
    width: auto;
    border: none;
    border-bottom: 1px solid $grey;
    background-color: transparent;
    font-size: 30px;
    font-family: 'Century Gothic', sans-serif;
    font-weight: bold;
    color: $white;
    max-width: 185px;
  }
  input:focus {
    outline: none;
  }
  label {
    color: $white;
    font-size: 18px;
    position: absolute;
    pointer-events: none;
    font-family: 'Arial Narrow', sans-serif;
    font-weight: bold;
    left: 10px;
    top: 15px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }

  input:focus ~ label, input:valid ~ label {
    top: -15px;
    font-size: 14px;
    color: $white;
  }

  .bar {
    position: relative;
    display: block;
    width: auto;
  }
  .bar:before, .bar:after {
    content: "";
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: $white;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  .bar:before {
    left: 50%;
  }
  .bar:after {
    right: 50%;
  }

  input:focus ~ .bar:before,
  input:focus ~ .bar:after {
    width: 50%;
  }
}