.menu_burger {
  position: relative;
  width: 30px;
  height: 3px;
  background-color: $white;
  display: flex;
  flex-direction: row-reverse;
  &::before, &::after {
    content: '';
    position: absolute;
    height: 3px;
    display: block;
    background-color: white;
  }
  &::before {
    width: 40px;
    top: -10px;
  }
  &::after {
    width: 20px;
    bottom: -10px;
  }
}

#menu {
  border: none;
  background: none;
  height: 30px;
  cursor: pointer;
}