// MAIN COLORS
$white: #ffffff;
$black: #000000;
$grey: #eeeeef;
$grey-secondary: #868686;
$grey-third: #edecea;

// COLOR SCHEME
$yellow-primary: #d19c49;
$yellow-secondary: #fbc572;
$blue-primary: #0555a4;
$blue-secondary: #00819d;

// MEASURES
$main-container-width: 184px;
$secondary-container-width: 290px;